<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" type="image/png" href="/images/favicon.png">

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update Password</title>
  <link rel="stylesheet" href="/styles/updatePass.css">
  <script src="https://scripts.visheshsingh.com/bie"></script>
</head>
<body>

  <div
    class="absolute z-10 flex w-full select-none border-b-[1px] border-b-slate-500/40 bg-orange-700/80 px-6 py-5 shadow-lg transition-all ease-linear">
    <div class="font-jSans text-2xl font-semibold tracking-wider text-white"><a href="/">Notes App</a></div>
  </div>

  <div class="flex min-h-screen min-w-[100w] items-center justify-center bg-black/[0.03]">
    <div
      class="h-[480px] max-h-[80vh] w-[90vw] max-w-[480px] rounded-lg bg-white text-white shadow-lg shadow-slate-300">
      <div class="flex h-full w-full justify-center">
        <div class="relative flex min-h-full min-w-full flex-col items-center justify-center rounded-md p-5">

          <div
            class="__error fail my-4  px-3 py-2 absolute top-0.5 z-50 rounded-[4px] text-white text-base font-semibold tracking-wide select-none max-w-[80%]"
            style="<%=locals.style%>">
            <%=locals.message%>
          </div>

          <h2 class="select-none py-4 text-4xl font-bold tracking-wide text-[#ef4444] mb-6">Update Password</h2>

          <div class="w-[70%]">
            <form action="" method="post">
              <label for="password1" class="text-black font-pops">Enter Password:</label>
              <input type="password" name="password1" value="<%=locals.password1%>"
                class="my-1.5 w-full rounded-md border-[1.5px] border-slate-300 bg-slate-100 px-3.5 py-2 text-slate-500/90 placeholder:text-sm placeholder:text-slate-400/50 focus:border-slate-400 focus:text-slate-800 focus:outline-none"
                autocomplete="off" required  minlength="6" maxlength="18" spellcheck="false"/>
              <label for="password2" class="text-black font-pops">Re-enter Password:</label>
              <input type="password" name="password2" value="<%=locals.password2%>"
                class="my-1.5 w-full rounded-md border-[1.5px] border-slate-300 bg-slate-100 px-3.5 py-2 text-slate-500/90 placeholder:text-sm placeholder:text-slate-400/50 focus:border-slate-400 focus:text-slate-800 focus:outline-none"
                autocomplete="off" required  minlength="6" maxlength="18" spellcheck="false"/>
              <div class="buttons flex w-full justify-center py-6 flex-col space-y-4">
                <button type="submit"
                  class="w-full rounded-md border-[1px] border-[#ef4444] px-[15%] py-[3%] text-base font-semibold capitalize text-[#ef4444] transition-all ease-linear active:bg-[#ef4444] active:text-white">Update</button>
                                  <a href="/me"><button type="button"
                  class="w-full rounded-md border-[1px] border-[#ef4444] px-[15%] py-[3%] text-base font-semibold capitalize bg-[#ef4444] transition-all ease-linear active:text-[#ef4444] active:bg-white">Back to Menu</button></a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    if (window.history.replaceState) {
      window.history.replaceState(null, null, window.location.href);
    }
    document.querySelectorAll("input").forEach((input) => input.oninput = () => {
      document.querySelector(".__error").style.display = "none"
    })
  </script>
</body>

</html>